# API Configuration
# URL untuk backend API Laravel
# Untuk development: http://127.0.0.1:8000/api
# Untuk production: https://its.fkkumj.ac.id/api
VITE_API_URL=http://127.0.0.1:8000/api

# Environment
# development | production
NODE_ENV=development

